.DS_Store
__pycache__/
.ipynb_checkpoints/
*.pyc

slides/*.aux
slides/*.log
slides/*.nav
slides/*.out
slides/*.snm
slides/*.toc
slides/*.vrb

outputs/reports/

/1234at.csv
/tweets_2021-01-06.csv
/tweets_with_created_at.csv
/docs/
/external/
/project_accmulated.ipynb
